/* Slideshow */
#slideshow {
    height: 400px;
    width: 100%;
    background-color: #000;
    position: relative;
}

#slideshow figure {
    margin: 0;
}

#slideshow img {
    max-height: 400px;
    width: auto;
    z-index: 8;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#slideshow IMG.active {
    z-index: 10;
    opacity: 1;
}

#slideshow IMG.last-active {
    z-index: 9;
}

#slideshow figcaption {
    color: white;
    position: absolute;
    bottom: 0;
    z-index: 9;
    opacity: 0;
    background: #000;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
}

#slideshow figcaption.active {
    z-index: 11;
    opacity: .5;
}

#slideshow figcaption.last-active {
    z-index: 10;
}